<!-- About Section -->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">A place to solve your problems</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 mb-4">
          Welcome to SERVICE Insider, your one-stop solution for finding professional services. We provide a comprehensive directory of service providers, making it easy for you to find the right person for the job. Whether you're in need of a carpenter, electrician, or any other professional service, you can find the information you need on our website. With our group chat feature, you can communicate directly with service providers to ensure you're getting the service you need!
        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="/providers">Lets's Go!</a>
      </div>
    </div>
  </div>
</section>
