body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-google{
  color: #fff;
  background-color: rgb(74, 210, 183);
  border-color: white;
}
.btn-facebook{
  color: #fff;
  background-color: rgb(5, 70, 96);
  border-color: white;
}

form.user .btn-user {
  font-size: .8rem;
  border-radius: 10rem;
  padding: .7rem 1rem;
}

header.masthead {
  background: url(pic.jpg.jpg);
}

.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #fff;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
	outline: none !important;
}
.modal-confirm .btn-info {
	background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.messages_container {
	width: 600px;
	height: 500px;
	position: relative;
	border: 2px solid #075e54;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
.messages {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: #dcf8c6;
}

.join_message {
	align-self: center;
	width: fit-content;
	background-color: #f89a7d;
	padding: 5px 20px;
	border-radius: 5px;
	margin: 3px 0;
}

.sent_message_container {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	width: fit-content;
	background-color: #cc8e6c;
	padding: 5px 20px;
	border-radius: 5px;
	margin: 3px 0;
}

.your_name {
	margin: 0;
	font-size: 13px;
	padding-bottom: 4px;
	font-weight: bold;
	color: #fa3d03;
}

.sent_message {
	margin: 0;
}
.receive_message_container {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	width: fit-content;
	background-color: white;
	padding: 5px 20px;
	border-radius: 5px;
	margin: 3px 0;
}

.receiver_name {
	margin: 0;
	font-size: 13px;
	padding-bottom: 4px;
	font-weight: bold;
	color: #5761f6;
}

.receive_message {
	margin: 0;
}

.input_container {
	display: flex;
	width: 100%;
}

.input {
	flex: 1;
	height: 40px;
	font-size: 16px;
	outline: none;
	border: none;
	padding: 0 10px;
	border-top: 2px solid #075e54;
}

.btn_chatio {
	width: 100px;
	background-color: #075e54;
	color: white;
	outline: none;
	border: none;
	font-size: 16px;
	cursor: pointer;
}
.container_chatio {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 2;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

table {
	margin: 0 auto;
	text-align: center;
  }
  
  thead {
	background-color: #ddd;
  }
  
  th, td {
	padding: 15px;
  }
  
  th {
	background-color: #ddd;
  }
  
  tr:nth-child(even) {
	background-color: #f2f2f2;
  }
  
  
  


  body {
	padding-top: 30px;
	padding-bottom: 20px;
  }

  /* .page-section {
	height: 500px;
  } */
  